table{
    width: 100%;
}
i{
    color: #154d59 ;
    margin-right: 10px;
}
i.edit{
    color: #03bfe1;
}
i.delete{
    color: #dc0000;
}
.column-title{
    color:  #154d59; ;
    font-size: 1rem
}
.tab-row-id{
    color: #154d59 ;
    font-weight: bold;
}
.table-data{
    letter-spacing: 0.5px;
}