<mat-card class="home mat-elevation-z1">
  <mat-card-title class="title">Bem Vindo</mat-card-title>
  <mat-card-subtitle class="subtitle">
    Sistema de cadastro
  </mat-card-subtitle>
</mat-card>

<div class="">
  <mat-card class="card" routerLink="/products">
    <mat-card-content>
      <a class="" ><i class="material-icons"> people </i>
        Cadastro de Clientes
      </a>
    </mat-card-content>
  </mat-card>
  <mat-card class="card" routerLink="/products">
    <mat-card-content>
      <a class="" ><i class="material-icons"> local_grocery_store </i>
        Cadastro de Produtos
      </a>
    </mat-card-content>
  </mat-card>
</div>