.home .title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  padding: 5px 0px 10px 0px;
  margin: 0;
  color: #154d59;
}
.home .subtitle {
  font-size: 1.1rem;
}
.card{
  background-color: #eeeeee;;
  display: inline-block;
  width: 8%;
  margin: 25px;
  cursor: pointer;
  border: 2px solid transparent;
}
.card:hover{
  border-color: #154d59;
  transition: 1.5s;
}
i{
  display: block;
  color: #154d59;
  font-size: 2rem;
  margin-bottom: 10px;
}
a {
  color: #154d59;
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}