<mat-card>
   <mat-card-title>
      Novo Produto
   </mat-card-title>
   <mat-card-subtitle>
      insira os dados do novo produto
   </mat-card-subtitle>
   <form>
      <mat-form-field>
         <input 
         class="input-name"
         matInput 
         placeholder="Nome"
         name="name"
         >
         <!-- [(ngModel)]="product.name" -->
      </mat-form-field>


      
   </form>
   <!-- <button mat-raised-button color="" (click)="createProduct()" class="save">
      Salvar
   </button> 
   <button mat-raised-button  (click)="cancel()" class="cancel">
      Cancelar
   </button> -->
</mat-card>