form{
    display: flex;
    flex-direction: column;
}
input{
    gap: 10px;
}
button{
    margin: 20px 15px 0px 0px;
}
.save{
    color: #ffffff;
    background-color: #154d59;
}
.cancel{
    color: #154d59 ;
    background-color: #eeeeee;
}