<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <mat-card-subtitle>Redigite os dados do Produto</mat-card-subtitle>
    <form>
       <mat-form-field>
          <input 
          matInput 
          placeholder="Nome"
          name="name"
          [(ngModel)]="product.name"
          >
       </mat-form-field>
       <mat-form-field>
          <input 
          matInput 
          placeholder="Preço (R$)"
          name="price"
          [(ngModel)]="product.price"
          >
       </mat-form-field>
    </form>
    <button class="save-button" mat-raised-button color="" (click)="updateProduct()" color="primary">
       Salvar Alteração
    </button>
    <button  mat-raised-button  (click)="cancel()" class="cancel">
       Cancelar
    </button>
 </mat-card>