.sidenav {
  background-color: #eeeeee;
  width: 12%;
  overflow: hidden !important;
}
.sidenav a {
  color: #154d59;
  font-size: 1.1rem;
  /* Alinha os itens ao centro */
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidenav i {
  padding-right: 15px;
  margin-left: 10%;
}

.content {
  padding: 16px;
  background-color: #ffffff;
}
